{% extends 'base.html' %}
{% block title %}Coffee and Wifi{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
  <h1 class="display-4">☕️ Лучшие кофейни Познани для работы 💻</h1>
  <p class="lead">Здесь собраны лучшие кофейни с рейтингом по качеству интернета и крепости кофе</p>
  <hr class="my-4">
  <p>Я собрал для вас лучшую коллекцию кофеен в Познани, также любой желающий может добавит свое интересное место)</p>
  <a class="btn btn-warning btn-lg" href="{{ url_for('cafes') }}" role="button">Show Me!</a>
</div>
    </div>

{% endblock %}
